.container__contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; 
    height:100%;
    width: auto;
    margin-bottom: 110px;
}
.contact__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin: 50px 0px;
}
.contact__span {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}
.contact__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}
.container__data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px 130px ;
}
.data__contact{
    display: grid;
    grid-column: 1 / 2 ;
    grid-row: 1 /2;
    grid-template-columns: 1fr nowrap;
    grid-template-rows: 1fr 1fr 1.5fr 0.5fr nowrap;
    gap: 10px;
    width: 100%;
    height: auto;
}
.data__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}
.name{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #EEEEEE;
    border: 1px solid #000000;
    border-radius: 5px;
}
.name::placeholder {
    padding-left: 10px;
    font-size: 18px;
}
.data__email{
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000; 
}
.email{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: #EEEEEE;
    border: 1px solid #000000;
    border-radius: 5px;
}
.email::placeholder {
    padding-left: 10px;
    font-size: 18px;
}
.data__message {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #000000;
}
.data__text {
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    background: #EEEEEE;
    border: 1px solid #000000;
    border-radius: 5px;
    gap: 16px;
}
.submit{
    background: #212529;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
}
.img__contact {
    grid-column: 2 / 3;
    grid-row: 1 /2 ;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 768px)  {
    .contact__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .data__contact{
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .img__contact{
        grid-column: 1 / 4;
        grid-row: 1 / 2 ;
    }
}