.container__services {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 16px;
  margin: 30px 0 67px;
}
.services__span {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #74C69D;
}
.services__h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
}
.services__p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
}
.container__plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: center;
  justify-content: space-evenly;
  gap: 85px; 
  margin: 0px 50px 135px;
}
.card__wrapper{
  justify-content: center;
  text-align: center;
  gap: 85px; 
  padding: 46px 30px;
  width: 339px;
  height: 542px;
  background: #FFFFFF;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.card__card {  
  display: grid;
  justify-content: space-between;
  text-align: center;
  padding: 0px;
  gap: 45px;
  width: 279px;
  height: 450px;
  gap: 20px;
}
.card__name {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  margin: 0 auto;
}
.card__price {
  font-weight: 200;
  font-size: 40px;
  line-height: 125%;
  padding: 0px;
  gap: 9px;
}
.card__price::after{
  content: "/month";
  color: rgba(33, 37, 41, 0.5);
  font-size: 20px;
}
.card__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  text-align: center;
  color: rgba(33, 37, 41, 0.5);
}
.card__ul{
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 0px;
  gap: 11px;
  width: 203px;
  height: 169px;
}
.basic__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  color: #212529;
  text-align: center;
}
.basic__text::before {
  content: "✓" ;
  color: #74C69D;
  margin-right: 18px;
  justify-content: start;
}
.card__button{
    height:48px;
    width:170px;
    font-weight: 400;
    font-size: 20px;
    line-height:125%;
    color: #FFFFFF;
    background-color: #212529;
    border-radius: 5px; 
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
@media screen and (max-width: 768px)  {
  .container__services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin: 21px 20px 46px 20px;
  }
  .container__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 55px;
    margin: 0px 20px 28px 20px;
  }
}