body{
   background-color: rgb(246, 208, 150);
}
.basic__li{
  font-size: 18px;
}
.basic__li basic__text{
  margin:0px 0px 10px 0px;
 position: relative;
 padding: 0px 0px 0px 30px;
}

.basic__li basic__text:before{
  content: '';
  background: url('../img/youtub.svg') 0 0 no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 0;}