.body__plan{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.main__plan{
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 35px 0px 75px;
  gap: 16px;
  text-align: center;
}
.plans__span {
  font-weight: 400;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #74C69D;
}
.plans__h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-align: center;
}
.plans__p {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
}
.container__plans {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 105px; 
  margin: 10px 106px 135px 107px;
}
.wrapper__card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 30px 46px 30px 52px;
}
.card1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: center;
}
.card2{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}
.card3{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: center;
}
.container__card {
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 339px;
  height: 542px;
}
.card__name {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
}
.card__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 9px;
}
.card__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 125%;
  text-align: center;
  color: rgba(33, 37, 41, 0.5);
}
.card__ul{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
  margin: 30px 52px 76px 45px;
}
.basic__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #212529;
}
.basic__text::before {
  content: "" ;
  width: 25px;
  height: 25px;
  margin-right: 11px;
  background-image: url(../img/halka.svg);
}
.card__button{
  display: flex;
  justify-content: center;
  background-color: #212529;
  height: 48px;
  width: 170px;
  left: 494;
  top: 322px;
  border-radius: 0px;  
  margin: 0 auto;
}
.button {
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  justify-content: center;
  color: #FFFFFF;
  background-color: #212529;
  margin: 0 auto;
}
@media screen and (max-width: 768px)  {
  .container__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    margin: 21px 20px 46px 20px;
  }
  .container__plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 0px;
    gap: 55px;
    margin: 0px 20px 28px 20px;
  }
}