.wrapper{
    padding: 20px;
    margin: 30px 25px 60px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    gap:10px;
} 
.works__span{
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #74C69D;
}
.works__h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}
.works__p {
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #000000;
}
.portfolio__container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.portfolio__img {
    display: grid;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: auto;
    width: 100%;
}
.portfolio__button {
    height:48px;
    width:170px;
    font-weight: 400;
    font-size: 20px;
    line-height:125%;
    color: #FFFFFF;
    background-color: #212529;
    border-radius: 5px; 
    margin: 0 auto;
}
    @media screen and (max-width: 768px) {
        .worksText__cocteiner{
            display: grid;
            grid-template-columns: 1fr;
            padding: 0px;
            gap:16px;
         }
        .portfolio__container { 
            display: grid;
            grid-template-columns: 1fr ;
            gap:55px;
        }
    }